GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY_PATH=./private-key.pem
GITHUB_WEBHOOK_SECRET=changeme
OSV_API=https://api.osv.dev/v1
EPSS_API=https://api.first.org/data/v1/epss
KEV_URL=https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json
